*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Koulen;
    box-sizing: border-box;
}

body{
    background-color: #2597A6;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    height: 100vh;
    width: 100%;
    color: #FFFFFF;
    border-radius: 30px;
}

img{
    width: 120px;
}

.auditiva{
    width: 90px;
}

.titulo{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 20%;
}

h1{
    font-size: 100px;
}

.acessibilidade{
    height: 50%;
    width: 50%;
}

.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

button{
    border-radius: 100px;
    height: 20vh;
    width: 20vh;
    background-color: #2F1A4C;
}

button:hover{
    cursor: pointer;
    opacity: 0.7;
}